# Folders

.vscode/
.git/
logs/
backup/
node_modules/

# Files

npm-debug.log
startup.sh
latesthash.cache
uptimeData.json
db.json

Dockerfile
Makefile
docker-compose.yml
.prettierignore
.prettierrc
.dockerignore
.eslintrc.json
.gitattributes
.gitignore
.env

**/*.md