# Folders

logs/
backup/
node_modules/

.git/
.npm/

# Potentially sensitive files

.env
db.json
db-backup.json

# Other

*.cache
lang.json
uptimeData.json

[Tt]est*.json

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
