# Auto-detect text files
* text=auto eol=lf

# Treat these as text files with linefeed endings
*.json text
*.html text
*.txt text
*.css text
*.js text
*.md text

# Binary files
*.ico binary

# Exclude these files from the git archive export (.zip)
.gitattributes export-ignore
.gitignore export-ignore